# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - freebsd
julia:
  - 1.3
  - 1.4
  - nightly
notifications:
  email: false
jobs:
  allow_failures:
    - julia: nightly
cache:
  directories:
    - $HOME/.julia/artifacts
codecov: true
